<ul class="social-media-list">
    <table
        class="social-links-container"
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="border-collapse: collapse"
        role="presentation"
    >
        <tbody>
            <tr class="social-links-row">
                <td
                    class="social-link-container"
                    align="center"
                    valign="middle"
                    width="48"
                    style="padding: 0 5px"
                >
                    <a href="https://damalga.com" target="_blank">
                        <img
                            src="https://gallery.eousercontent.com/tentacles/icons/v1/social-block/square/color/website.png"
                            style="
                                display: block;
                                border: 0;
                                height: auto;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                            "
                            height="48"
                            width="48"
                            alt="website social link"
                        />
                    </a>
                </td>
                <td
                    class="social-link-container"
                    align="center"
                    valign="middle"
                    width="48"
                    style="padding: 0 5px"
                >
                    <a
                        href="https://bsky.app/profile/alcarciandamalga.bsky.social"
                        target="_blank"
                    >
                        <img
                            src="https://gallery.eousercontent.com/tentacles/icons/v1/social-block/square/color/bluesky.png"
                            style="
                                display: block;
                                border: 0;
                                height: auto;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                            "
                            height="48"
                            width="48"
                            alt="bluesky social link"
                        />
                    </a>
                </td>
                <td
                    class="social-link-container"
                    align="center"
                    valign="middle"
                    width="48"
                    style="padding: 0 5px"
                >
                    <a
                        href="https://www.reddit.com/user/alcarciandamalga/"
                        target="_blank"
                    >
                        <img
                            src="https://gallery.eousercontent.com/tentacles/icons/v1/social-block/square/color/reddit.png"
                            style="
                                display: block;
                                border: 0;
                                height: auto;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                            "
                            height="48"
                            width="48"
                            alt="reddit social link"
                        />
                    </a>
                </td>
                <td
                    class="social-link-container"
                    align="center"
                    valign="middle"
                    width="48"
                    style="padding: 0 5px"
                >
                    <a href="https://alcarcia.com" target="_blank">
                        <img
                            src="https://gallery.eousercontent.com/tentacles/icons/v1/social-block/square/color/website.png"
                            style="
                                display: block;
                                border: 0;
                                height: auto;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                            "
                            height="48"
                            width="48"
                            alt="website social link"
                        />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</ul>
