// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body.site-body{
    background: black;
    color: white;
}

header.site-header{
    .wrapper{
        .site-title{
            font-size: 1.4rem;
            color: black;
            &:visited{
                color: black;
            }
        }
        .site-nav{
            .nav-items{
                .nav-item{
                    color: black;
                }
            }
        }
    }
}

footer.site-footer{

}
