// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

//Inter-font
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

//Body
body.site-body{
    background: black;
    color: white;
}

//Header
header.site-header{
    .wrapper{
        .site-title{
            font-size: 1.4rem;
            color: black;
            &:visited{
                color: black;
            }
        }
        .site-nav{
            .nav-items{
                .nav-item{
                    color: black;
                }
            }
        }
    }
}

//Footer
footer.site-footer{

}
