// Placeholder to allow overriding predefined variables smoothly.

$base-font-family: "Inter" !default;
$base-font-size:   1rem !default;
$small-font-size:  $base-font-size * 0.84 !default;
$base-line-height: 1.2 !default;
